<h1>Bienvenid@s al chat!</h1>
<div>
  <input id="input-chat" />
</div>
<div>

  <p id="panel">
    {{#each messages}}
      <b>{{this.username}}</b>
      {{this.message}}
      <br />
    {{/each}}
  </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>