<h1>Bienvenido a Nuestra página</h1>

<h2>Inicia Sesión </h2>
<div>
    <form method="post" action="/login">
        <input type="text" placeholder="Email" name="Email"/>
        <br/>
        <br>
        <input type="password" placeholder="Contraseña" name="password"/>
        <br/>
        <br>
        <button type="submit">Inicia Sesion</button>
    </form>
  <h2> <a href="/signup">Crea tu Usuario</a></h2>  
</div>