<h1>Listado de Productos:</h1>
<div class="people_list" id="product-table">

  {{#each products}}
 
   {{this}}
  
 
  {{/each}}

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>