<h1>Crea tu Usuario</h1>
<div>
    <form method="post" action="/signup">
        <input type="text" placeholder="Email" name="email"/>
        <br/>
        <br>
        <input type="password" placeholder="Contraseña" name="password"/>
        <br/>
        <br>
        <button type="submit">Registrate</button>
    </form>
</div>